body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

h1,
h3,
p {
  text-align: center;
}

.contact-link {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  text-align: center;
}
.contact-link:hover {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.btn-primary,
.contact-link {
  text-align: center;
}
.btn-primary:hover {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  box-shadow: 12px 8px 62px -5px rgba(40, 32, 117, 0.75);
}
